/* line 32, ../../scss/partials/general.scss */
html {
  letter-spacing: 0.04rem;
}

/* line 37, ../../scss/partials/general.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #2e5779;
}

/* line 42, ../../scss/partials/general.scss */
blockquote {
  color: #182d3e;
}
/* line 45, ../../scss/partials/general.scss */
blockquote cite {
  color: #2e5779;
}

/* line 50, ../../scss/partials/general.scss */
.row.fluid {
  max-width: none;
}

/* line 55, ../../scss/partials/general.scss */
a:hover {
  text-decoration: underline;
}

/* line 60, ../../scss/partials/general.scss */
.link {
  position: relative;
  text-decoration: none;
}
/* line 64, ../../scss/partials/general.scss */
.link div, .link span, .link img {
  position: relative;
}
/* line 68, ../../scss/partials/general.scss */
.link:before {
  background-color: #FFFFFF;
  content: "";
  bottom: 0;
  top: 0;
  right: 50%;
  left: 50%;
  position: absolute;
  z-index: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 72, ../../scss/partials/general.scss */
.link:hover {
  text-decoration: none;
}
/* line 75, ../../scss/partials/general.scss */
.link:hover:before {
  background-color: #eaeff3;
  right: 0;
  left: 0;
}

/* line 81, ../../scss/partials/general.scss */
.button {
  overflow: hidden;
  margin-bottom: 0.92857rem;
}
/* line 85, ../../scss/partials/general.scss */
.button:before {
  background-color: #346288;
}
/* line 89, ../../scss/partials/general.scss */
.button:hover:before {
  background-color: #264763;
}
/* line 94, ../../scss/partials/general.scss */
.button.success:before {
  background-color: #75BB3F;
}
/* line 98, ../../scss/partials/general.scss */
.button.success:hover:before {
  background-color: #5d9532;
}
/* line 105, ../../scss/partials/general.scss */
.button.alert:before {
  background-color: #BE4064;
}
/* line 109, ../../scss/partials/general.scss */
.button.alert:hover:before {
  background-color: #983350;
}
/* line 116, ../../scss/partials/general.scss */
.button.secondary:before {
  background-color: #85a0b7;
}
/* line 120, ../../scss/partials/general.scss */
.button.secondary:hover {
  background-color: #85a0b7;
}
/* line 123, ../../scss/partials/general.scss */
.button.secondary:hover:before {
  background-color: #6587a4;
}
/* line 128, ../../scss/partials/general.scss */
.button.secondary:active {
  background-color: #6587a4;
}
/* line 134, ../../scss/partials/general.scss */
.button.action {
  background-color: #D39847;
}
/* line 137, ../../scss/partials/general.scss */
.button.action:before {
  background-color: #D39847;
}
/* line 141, ../../scss/partials/general.scss */
.button.action:hover {
  background-color: #D39847;
}
/* line 144, ../../scss/partials/general.scss */
.button.action:hover:before {
  background-color: #ba7f2d;
}
/* line 149, ../../scss/partials/general.scss */
.button.action:active {
  background-color: #ba7f2d;
}
/* line 155, ../../scss/partials/general.scss */
.button.disabled {
  background-color: #182d3e !important;
}
/* line 158, ../../scss/partials/general.scss */
.button.disabled:before {
  display: none;
}

/* line 166, ../../scss/partials/general.scss */
.label.action {
  background-color: #D39847;
}

/* line 171, ../../scss/partials/general.scss */
.top-bar {
  height: initial;
}
/* line 174, ../../scss/partials/general.scss */
.top-bar .icon {
  font-size: 1.2rem;
  width: 2rem;
  text-align: center;
}
/* line 180, ../../scss/partials/general.scss */
.top-bar i {
  line-height: 4.9rem;
}
/* line 183, ../../scss/partials/general.scss */
.top-bar i span {
  color: #f8ebef;
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -0.2rem;
  font-size: 0.6rem;
  padding: 0.2rem 0;
  border-radius: 50%;
  background-color: #BE4064;
  color: #f8ebef;
  line-height: 0.6rem;
}
/* line 190, ../../scss/partials/general.scss */
.top-bar i.fa-neuter.search {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 196, ../../scss/partials/general.scss */
.top-bar .has-dropdown a::after {
  margin-top: 0;
  top: 2.3rem;
}
/* line 203, ../../scss/partials/general.scss */
.top-bar.tabs li {
  width: 33.33%;
}
/* line 206, ../../scss/partials/general.scss */
.top-bar.tabs li a {
  padding: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 212, ../../scss/partials/general.scss */
.top-bar.tabs i {
  line-height: 1.9rem;
}
/* line 215, ../../scss/partials/general.scss */
.top-bar.tabs i span {
  top: 0rem;
}
/* line 221, ../../scss/partials/general.scss */
.top-bar.tabs .link:before {
  background-color: #eaeff3;
}
/* line 225, ../../scss/partials/general.scss */
.top-bar.tabs .link:hover:before {
  background-color: #FFFFFF;
}

/* line 233, ../../scss/partials/general.scss */
.alert-box h1, .alert-box h2, .alert-box h3, .alert-box h4, .alert-box h5, .alert-box h6 {
  color: #000000 !important;
  opacity: 0.5;
}
/* line 238, ../../scss/partials/general.scss */
.alert-box a {
  color: #FFFFFF !important;
  text-decoration: underline;
}
/* line 242, ../../scss/partials/general.scss */
.alert-box a:hover {
  opacity: 0.9;
}
/* line 247, ../../scss/partials/general.scss */
.alert-box .close {
  text-decoration: none;
}
/* line 250, ../../scss/partials/general.scss */
.alert-box .close.top {
  top: 1.3rem;
}
/* line 254, ../../scss/partials/general.scss */
.alert-box .close:hover {
  opacity: 0.7;
}

/* line 260, ../../scss/partials/general.scss */
.dispel {
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 264, ../../scss/partials/general.scss */
.dispel.hidden {
  opacity: 0;
  visibility: hidden;
}

/* line 270, ../../scss/partials/general.scss */
.circle {
  border-radius: 50%;
}

/* line 274, ../../scss/partials/general.scss */
.panel {
  margin-top: 1.42857rem;
  overflow: auto;
}
/* line 278, ../../scss/partials/general.scss */
.panel .title {
  margin: -1.42857rem -1.42857rem 1.42857rem -1.42857rem !important;
  background: #c2cfdb;
  color: #346288;
  text-transform: uppercase;
}
/* line 284, ../../scss/partials/general.scss */
.panel .title h1, .panel .title h2, .panel .title h3, .panel .title h4, .panel .title h5, .panel .title h6 {
  margin: 0;
  display: inline-block;
  padding: 1.2rem;
  font-size: 0.8rem;
}
/* line 291, ../../scss/partials/general.scss */
.panel .title .link {
  float: right;
  padding: 0.9rem;
}
/* line 297, ../../scss/partials/general.scss */
.panel .accordion {
  margin: -1.42857rem !important;
}
/* line 301, ../../scss/partials/general.scss */
.panel .accordion .accordion-navigation > a {
  color: #182d3e !important;
  background: #c2cfdb;
  text-transform: uppercase;
  margin: 0;
  padding: 0.9rem 1.2rem;
  font-size: 0.8rem;
}
/* line 312, ../../scss/partials/general.scss */
.panel .accordion .accordion-navigation > .content {
  display: block;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 321, ../../scss/partials/general.scss */
.panel .accordion .accordion-navigation > .content.active {
  max-height: 100rem;
  padding: 1.07143rem;
  opacity: 1;
}
/* line 330, ../../scss/partials/general.scss */
.panel .tabs {
  margin: -1.42857rem -1.42857rem 1.42857rem -1.42857rem !important;
  background: #c2cfdb;
}
/* line 336, ../../scss/partials/general.scss */
.panel .tabs .tab-title a {
  color: #182d3e !important;
  text-transform: uppercase;
  background: #c2cfdb;
  margin: 0;
  padding: 0.9rem 1.2rem;
  font-size: 0.8rem;
}
/* line 349, ../../scss/partials/general.scss */
.panel .tabs .tab-title.active a {
  background: #FFFFFF !important;
}
/* line 356, ../../scss/partials/general.scss */
.panel .tabs.vertical {
  margin: -1.42857rem 1.42857rem -1.42857rem -1.42857rem !important;
}
/* line 362, ../../scss/partials/general.scss */
.panel .tabs-content .content {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  opacity: 0.5;
  padding: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 370, ../../scss/partials/general.scss */
.panel .tabs-content .content.active {
  max-height: 100rem;
  opacity: 1;
}
/* line 375, ../../scss/partials/general.scss */
.panel .tabs-content .content > :last-child {
  margin-bottom: 0;
}
/* line 381, ../../scss/partials/general.scss */
.panel a:not(.link):not(.button) {
  color: #417bab;
}
/* line 385, ../../scss/partials/general.scss */
.panel .button {
  margin-bottom: 0;
}

/* line 391, ../../scss/partials/general.scss */
.progress .meter {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  overflow: hidden;
}
/* line 398, ../../scss/partials/general.scss */
.progress.striped .meter {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
/* line 403, ../../scss/partials/general.scss */
.progress.animated .meter {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 0;
}
/* line 408, ../../scss/partials/general.scss */
.progress.animated.striped .meter {
  -moz-animation: animated-striped 3s linear infinite;
  -webkit-animation: animated-striped 3s linear infinite;
  animation: animated-striped 3s linear infinite;
}
@-moz-keyframes animated-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes animated-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes animated-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* line 419, ../../scss/partials/general.scss */
table {
  width: 100%;
}

/* line 422, ../../scss/partials/general.scss */
.dataTables_wrapper .row {
  margin: 0 -0.9375rem !important;
}
/* line 425, ../../scss/partials/general.scss */
.dataTables_wrapper .row select {
  width: 75px;
  margin-top: 1.4rem;
}
/* line 430, ../../scss/partials/general.scss */
.dataTables_wrapper .row .pagination {
  float: right;
}

/* line 436, ../../scss/partials/general.scss */
.split.link {
  padding: 0;
}
/* line 439, ../../scss/partials/general.scss */
.split.link div {
  padding: 1rem;
  margin-right: 3.53571rem;
}
/* line 443, ../../scss/partials/general.scss */
.split.link div span {
  right: -3.53571rem;
}

/* line 449, ../../scss/partials/general.scss */
.split.button.no-pip span > i {
  margin-left: -0.48889em;
}

/* line 454, ../../scss/partials/general.scss */
.close-reveal-modal:hover, .joyride-close-tip:hover {
  text-decoration: none;
  opacity: 0.3;
}
/* line 458, ../../scss/partials/general.scss */
.close-reveal-modal:hover:hover, .joyride-close-tip:hover:hover {
  opacity: 0.7;
}

/* line 465, ../../scss/partials/general.scss */
form select {
  padding-right: 1.8rem;
}
/* line 469, ../../scss/partials/general.scss */
form .prefix, form .postfix {
  padding: 0;
}
/* line 474, ../../scss/partials/general.scss */
form .error input, form .error input:focus {
  border-color: #BE4064;
}
/* line 478, ../../scss/partials/general.scss */
form .error small.error {
  color: #BE4064 !important;
  background: #FFFFFF !important;
  margin-top: 0 !important;
}
