@import url(https://fonts.googleapis.com/css?family=Nunito:300);
/* line 10, ../../scss/partials/icons.scss */
#icons .container .fa-hover a {
  line-height: 3rem;
  padding: 0.4rem;
}
/* line 14, ../../scss/partials/icons.scss */
#icons .container .fa-hover a:hover {
  background: #346288;
  color: #FFFFFF;
  text-decoration: none;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
}
/* line 22, ../../scss/partials/icons.scss */
#icons .container section {
  margin-bottom: 2rem;
}
/* line 26, ../../scss/partials/icons.scss */
#icons .container .text-muted {
  opacity: 0.7;
}
