@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Nunito:300);
/* line 29, ../../scss/partials/menu.scss */
#side-menu {
  width: 14rem;
  position: absolute;
}
/* line 35, ../../scss/partials/menu.scss */
#side-menu .side-nav .link:before {
  background-color: #346288;
}
/* line 39, ../../scss/partials/menu.scss */
#side-menu .side-nav .link:hover:before {
  background-color: #264763;
}
/* line 43, ../../scss/partials/menu.scss */
#side-menu .side-nav .open {
  border-top: 0.1rem solid #487193;
  border-bottom: 0.1rem solid #487193;
}
/* line 48, ../../scss/partials/menu.scss */
#side-menu .side-nav .current a {
  color: #f1f8eb;
}
/* line 53, ../../scss/partials/menu.scss */
#side-menu .side-nav .active a {
  border-left: 0.6rem solid #75BB3F;
  padding: 6%;
}
/* line 58, ../../scss/partials/menu.scss */
#side-menu .side-nav .active .link:before {
  background-color: #75BB3F;
}
/* line 62, ../../scss/partials/menu.scss */
#side-menu .side-nav .active .link:hover:before {
  background-color: #5d9532;
}
/* line 66, ../../scss/partials/menu.scss */
#side-menu .side-nav .active ul {
  display: block;
}
/* line 69, ../../scss/partials/menu.scss */
#side-menu .side-nav .active ul li {
  border-top: none;
  font-size: 0.9rem;
}
/* line 73, ../../scss/partials/menu.scss */
#side-menu .side-nav .active ul li.current:before {
  top: 1rem;
  right: -0.7rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  border-top: 1.4rem solid #f4f7f9;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 79, ../../scss/partials/menu.scss */
#side-menu .side-nav .active ul li.current:after {
  top: 1.1rem;
  right: -0.6rem;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  border-top: 1.2rem solid #75BB3F;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 89, ../../scss/partials/menu.scss */
#side-menu .side-nav .active.current {
  background-color: #75BB3F;
  color: #f1f8eb;
}
/* line 96, ../../scss/partials/menu.scss */
#side-menu .side-nav li {
  position: relative;
}
/* line 99, ../../scss/partials/menu.scss */
#side-menu .side-nav li a {
  padding: 6% 10%;
  display: block;
}
/* line 103, ../../scss/partials/menu.scss */
#side-menu .side-nav li a i {
  padding: 0 0.4rem;
}
/* line 109, ../../scss/partials/menu.scss */
#side-menu .side-nav li ul {
  display: none;
  list-style: none;
  margin-left: 0;
}
/* line 114, ../../scss/partials/menu.scss */
#side-menu .side-nav li ul a {
  padding-left: 1.9rem !important;
}

/* line 122, ../../scss/partials/menu.scss */
#main {
  margin-left: 14rem;
  background-color: #f4f7f9;
}

@media only screen and (min-width: 45.78571em) and (max-width: 73.14286em) {
  /* line 128, ../../scss/partials/menu.scss */
  #side-menu {
    width: 7rem;
  }
  /* line 131, ../../scss/partials/menu.scss */
  #side-menu i {
    font-size: 1.6rem;
    display: block;
    padding: 0.3rem !important;
  }
  /* line 138, ../../scss/partials/menu.scss */
  #side-menu .active a {
    border-left: 0 !important;
  }

  /* line 144, ../../scss/partials/menu.scss */
  #main {
    margin-left: 7rem;
  }
}
@media only screen and (max-width: 45.71429em) {
  /* line 151, ../../scss/partials/menu.scss */
  body header, body #content {
    position: relative;
    overflow: hidden;
  }
  /* line 156, ../../scss/partials/menu.scss */
  body header nav, body #content #main {
    left: 14rem;
    position: relative;
    overflow: visible !important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /* line 163, ../../scss/partials/menu.scss */
  body > .off-canvas {
    top: -6.66rem;
    right: 0;
    bottom: 0;
    left: 14rem;
    opacity: 1;
    position: absolute;
    background: rgba(52, 98, 136, 0.4);
    z-index: 100000;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* line 177, ../../scss/partials/menu.scss */
  header {
    border-bottom: solid 0.1rem #c2cfdb;
  }
  /* line 180, ../../scss/partials/menu.scss */
  header .profile {
    position: absolute !important;
    left: -14rem;
    top: -4rem;
    width: 14rem !important;
    background: #203d54 !important;
    height: 6.66rem;
  }

  /* line 190, ../../scss/partials/menu.scss */
  #breadcrumb.fixed {
    display: none;
  }

  /* line 194, ../../scss/partials/menu.scss */
  #side-menu, #profile-side-menu {
    width: 14rem;
    position: absolute;
    top: 0;
    height: 100%;
    background: #203d54;
  }

  /* line 204, ../../scss/partials/menu.scss */
  #profile-side-menu a {
    color: #FFFFFF;
    width: 50%;
    float: left;
    padding: 1.1rem 0;
  }
  /* line 210, ../../scss/partials/menu.scss */
  #profile-side-menu a span {
    display: block;
  }
  /* line 216, ../../scss/partials/menu.scss */
  #profile-side-menu .settings .avatar {
    width: 2.6rem;
    padding-bottom: 0.1rem;
  }
  /* line 222, ../../scss/partials/menu.scss */
  #profile-side-menu i {
    font-size: 2.5rem;
  }

  /* line 227, ../../scss/partials/menu.scss */
  #main {
    margin: 0;
  }

  /* line 232, ../../scss/partials/menu.scss */
  body.full header nav, body.full #content #main {
    left: 0;
  }
  /* line 236, ../../scss/partials/menu.scss */
  body.full > .off-canvas {
    opacity: 0;
    left: 0;
    visibility: hidden;
  }
}
