@import url(http://fonts.googleapis.com/css?family=Nunito:300);
/* line 30, ../../scss/partials/side_content.scss */
#side_content {
  width: 18rem;
  top: 0;
  right: -18rem;
  position: absolute;
  height: 100%;
  border-top: 0;
  border-bottom: 0;
  color: #346288;
  z-index: 1000;
}
/* line 41, ../../scss/partials/side_content.scss */
#side_content .close {
  opacity: 1;
  visibility: initial;
  position: absolute;
  z-index: 1000;
  top: 0.8rem;
  left: -0.4rem;
}
/* line 49, ../../scss/partials/side_content.scss */
#side_content .close a {
  -moz-border-radius-topright: 0.6rem;
  -webkit-border-top-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  -moz-border-radius-bottomleft: 0.6rem;
  -webkit-border-bottom-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  padding: 0.3rem 0.2rem 0.5rem 0.2rem;
  background-color: #eaeff3;
  border: #c2cfdb 0.1rem solid;
  overflow: hidden;
}
/* line 57, ../../scss/partials/side_content.scss */
#side_content .close a:before {
  -moz-border-radius-topright: 0.6rem;
  -webkit-border-top-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  -moz-border-radius-bottomleft: 0.6rem;
  -webkit-border-bottom-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  background: #c2cfdb;
}
/* line 64, ../../scss/partials/side_content.scss */
#side_content .close i {
  font-size: 0.8rem;
}
/* line 69, ../../scss/partials/side_content.scss */
#side_content p {
  font-size: 0.9rem;
}
/* line 74, ../../scss/partials/side_content.scss */
#side_content .tabs-content i {
  display: block;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* line 83, ../../scss/partials/side_content.scss */
#inner_content {
  margin-right: 18rem !important;
  position: relative;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 88, ../../scss/partials/side_content.scss */
#inner_content.full {
  margin-right: 0 !important;
}
/* line 91, ../../scss/partials/side_content.scss */
#inner_content.full .close {
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
